.App {
  h1 {
    text-align: center;
  }
}
.todoItem {
  display: flex;
  flex-direction: row;
  height: 60px;
  line-height: 60px;
  align-items: center;
  background-color: rgb(208, 208, 208);
  max-width: 75ch;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 1.1rem;

  // Hover on todoItem
  &:hover {
    cursor: pointer;
  }
}
